/* stylelint-disable property-no-vendor-prefix */
/* stylelint-disable selector-id-pattern */
/* stylelint-disable selector-class-pattern */
#mktoStyleLoaded {color:#123456;}

.starting_fieldset fieldset{
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  transition: opacity 0.1s ease-in, height 0.1s ease-in;
}

form.mktoForm {
  display: none;
}

form.mktoForm.mktoForm--fade-in {
  display: block;
}

.mktoForm--fade-in fieldset{
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  transition: opacity 0.1s ease-in, height 0.1s ease-in;
}

.mktoHidden,
.mktoFormRow .mktoClear,
.mktoFormRow .mktoError,
.mktoFormRow .mktoInstruction,
.mktoFormRow .mktoOffset,
.mktoFormRow .mktoOffset,
.mktoFormRow legend,
.mktoFormRow label:empty {
  display: none !important;
}

.mktoForm #db_data_container{
  display: none !important;
}

.mktoFormRow > fieldset > 
.mktoFormRow > .mktoPlaceholder:empty{
  display: none;
}

.mktoFormRow fieldset { 
  padding: 0
}

.mktoFormRow {
  height: auto;
  -webkit-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  transition: opacity 0.1s ease-in, height 0.1s ease-in;
}

form.mktoForm--fade-in {
  visibility: hidden;
  opacity: 0;
}

form.mktoForm--fade-in.mktoVisible {
  visibility: visible;
  opacity: 1;
  height: auto;
  -webkit-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  transition: opacity 0.1s ease-in, height 0.1s ease-in;
}

.mktoForm--fade-in .mktoFieldDescriptor {
  visibility: hidden;
  opacity: 0;
  height: 0;
}

.mktoForm--fade-in .mktoFieldDescriptor.mktoVisible:not([style]) {
  visibility: visible;
  opacity: 1;
  height: auto;
  -webkit-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  transition: opacity 0.1s ease-in, height 0.1s ease-in;
}            

div[data-mktofield="mktoQuestionComments"] fieldset {
  width: 100% !important;
}

.mktoForm-wrap {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: block;
  text-align: center;
  -webkit-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  transition: opacity 0.1s ease-in, height 0.1s ease-in;
}

.ty-message {
  padding: 20px;
  opacity: 0; /* on submit */
  visibility: hidden; /* on submit */
  -webkit-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  -moz-transition: opacity 0.1s ease-in, height 0.1s ease-in;
  transition: opacity 0.1s ease-in, height 0.1s ease-in;
}

.mktoNotYou{
  cursor: pointer;
}    

.mktoForm--fade-in fieldset.mktoFormCol {
  display: none;
}

.mktoForm--fade-in fieldset.mktoFormCol.mktoVisible {
  display: block;
}

.mktoForm--fade-in .mktoHtmlText[style] {
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity 0.1s ease-in, height 0.3s ease-in;
  -moz-transition: opacity 0.1s ease-in, height 0.3s ease-in;
  transition: opacity 0.1s ease-in, height 0.3s ease-in;
}

.mktoForm--fade-in .mktoHtmlText:not([style]) {
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.1s ease-in, height 0.3s ease-in;
  -moz-transition: opacity 0.1s ease-in, height 0.3s ease-in;
  transition: opacity 0.1s ease-in, height 0.3s ease-in;
}   

form.mktoForm {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1s ease-in;
  -moz-transition: max-height 1s ease-in;
  transition: max-height 1s ease-in;
}
            
form.mktoForm.mktoVisible {
  max-height: 10000px;
  overflow: visible;
}
        

input[list="mkto_FormsCompanySuggestions"] {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

/* Android Chrome specific styling */
input[list="mkto_FormsCompanySuggestions"]::-webkit-calendar-picker-indicator {
  display: none !important;
}        
@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[list="mkto_FormsCompanySuggestions"] {
    max-width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}
.mktofrm_ios18 input[list]::-webkit-list-button {
  opacity: 0;
}
